<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Cocktails</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else picturesArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #picturesArea >
  <div fxLayout="row wrap" fxLayoutGap="16px grid" >
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let picture of pictures | async"
    >
      <mat-card>
        <img
          [src]="picture.image | image"
          [alt]="'Photo of ' + picture.title"
          (click)="openDialog($event)"
          [id]="picture.id"
          mat-card-image
        />
        <mat-card-title>{{ picture.title }}</mat-card-title>
        <p>Posted by :<a [routerLink]="'/pictures/myGallery/' + picture.creatorUserId">{{ picture.userName }}</a></p>

      </mat-card>
    </div>
  </div>
</ng-template>

